# Public backend address (accessible from the user's browser!)
VITE_BACKEND_URL=http://localhost:8000

VITE_WS_URL=ws://localhost:8000/ws/comments/
VITE_WS_PATH=/ws/comments/
VITE_BACKEND_PORT=8000

# Customer behavior
VITE_COMMENT_TRUNCATE_LENGTH=90
VITE_WS_HEARTBEAT_MS=20000
VITE_WS_MAX_RECONNECT_MS=30000

# reCAPTCHA
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
